#Project-Title
{
    width: calc(200px + 10vw);
    height: calc(30px + 1vh);
}
#Type-Title
{
    width: calc(100px + 10vw);
    height: calc(30px + 1vh);
}
#body
{
  overflow-y: auto;
  height: 200px;
}
#time
{
  font-style: italic;
  
}
@-webkit-keyframes highlightBg {
  0% {
    box-shadow: 0 0 40px whitesmoke;
  }
  50% {
     box-shadow: 0 0 40px transparent;
  }
  to {
      box-shadow: 0 0 40px whitesmoke;
  
  }
}

@keyframes highlightBg {
  0% {
    box-shadow: 0 0 40px whitesmoke;
  }
  50% {
     box-shadow: 0 0 40px transparent;
  }
  to {
      box-shadow: 0 0 40px whitesmoke;
  
  }
}

.highlight {
/*     box-shadow: 0 0 0 2px #FF4081; */
-webkit-animation: highlightBg 1s linear;
-o-animation: highlightBg 1s linear;
animation: highlightBg 1s linear;
-webkit-animation-iteration-count: 3;
-o-animation-iteration-count: 3;
animation-iteration-count: 3
}
#card-img
{
  height: 200px;
}
#project-grid
{
    position: absolute;
}

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: calc(50px + 10vw);
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    backdrop-filter: blur(10px);
  
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
font-family: Roboto;
font-style: normal;
  }
  .title
  {
      
font-family: Roboto;
font-weight: bolder;
    color: white;
    font-size: 20px;
  }
  .info
  {
      
font-family: Roboto;
font-weight: bolder;
    color: white;
    font-size: 15px;
  }
  #GitHub-Proj
  {
      height: 2px;
      width: 1px;
  }
  #footer
  {
    /* height: 80px; */
  }