#title
{
    /* About Me */
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: calc(20px + 2vw);
line-height: 59px;
/* identical to box height */


color: #FFFCFC;


}
#text-info
{
    background-color: transparent;
}
#Extras
{
width: calc(200px + 10vw);
height: calc(30px + 1vh);
}
#border-small
{
  width: 100px;
  height: 2px;
}
#bigGridAbout
{
    position: relative;
}

#titleBar-1
{
height: 10px;
width: calc(100px + 11vw);
background: linear-gradient(271.17deg, #1DA1F2 55.03%, #A749BC 71.94%, #D12784 82.68%, #D62C49 96.37%);

}
#border-about
{
    width: calc(1px + 1vw);
    height: calc(100px + 1vh);
  }
#selfie
{

border-radius: 200px;
background: #FFFFFF;
box-shadow: 0 0 40px #A749BC;

background-image: url("./me.jpg");
background-size:     cover;                      /* <------ */
background-repeat:   no-repeat;
background-position: center center;              /* optional, center the image */
}
#infoBoxOne
{
    /* Rectangle 9 */


color: #FFFFFF;
}

@media screen and (max-width: 900px)
{
    #infoBoxOneText
    {
    
    max-width: 1130px;
    width: calc(100px + 60vw - 20px);
    max-height: 260px;;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(18px);
    
    
    color: #FFFFFF;
    }

    #border-small
{
  width: 100px;
  height: 2px;
}
#infoBoxTwoText
{
    position: absolute;
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla varius velit sed semper. In eget dapibus massa. Nulla aliquet orci lectus, sit amet placerat ipsum ornare quis. Phasellus feugiat, nisl vel ultrices aliquet, risus ipsum convallis elit, ut vestibulum odio eros quis libero. Etiam fringilla, mag.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla varius velit sed semper. In eget dapibus massa. Nulla aliquet orci lectus, sit amet, consectetur adipiscing elit. Sed fringilla varius */
max-width: 1537px;
max-height: 175px;
width: calc(150px + 60vw - 50px);
height: calc(50px + 15vh - 20px);
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 1;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 35px;

overflow-y: auto;
color: #FFFFFF;


}
    
}
#heading
{
        font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}
@media screen and (min-width: 901px)
{
    #infoBoxOneText
    {
    
    max-width: 1130px;
    width: calc(100px + 60vw - 40px);
    max-height: 260px;
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: calc(25px);
    
    
    color: #FFFFFF;
    
    
    }
    #border-small
{
  width: 0px;
  height: 0px
}
#infoBoxTwoText
{
    position: absolute;
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla varius velit sed semper. In eget dapibus massa. Nulla aliquet orci lectus, sit amet placerat ipsum ornare quis. Phasellus feugiat, nisl vel ultrices aliquet, risus ipsum convallis elit, ut vestibulum odio eros quis libero. Etiam fringilla, mag.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla varius velit sed semper. In eget dapibus massa. Nulla aliquet orci lectus, sit amet, consectetur adipiscing elit. Sed fringilla varius */
max-width: 1537px;
max-height: 175px;
width: calc(150px + 60vw - 50px);
height: calc(50px + 15vh - 20px);
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 1;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 35px;

overflow-y: auto;
color: #FFFFFF;


}
}

#infoBoxTwo
{
    /* Rectangle 13 */


max-width: 1593px;
height: calc(50px + 15vh);
width: calc(150px + 60vw - 20px);

background: #1DA1F2;
border-radius: 20px;

}
