#titleBar 
{
/* Rectangle 15 */

position: absolute;
width: 559px;
height: 10px;
left: 636px;
top: 2018px;

background: linear-gradient(271.17deg, #1DA1F2 55.03%, #A749BC 71.94%, #D12784 82.68%, #D62C49 96.37%);

}
#Activities-Title
{
    width: calc(200px + 10vw);
height: calc(30px + 1vh);
}
#block
{
    height: calc(200px);
    width: calc(200px + 23vw);
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
}
.info
{
    overflow: scroll;
}
#titleBarText
{
/* Extra Curriculars */

position: absolute;
width: 488px;
height: 59px;
left: 672px;
top: 1951px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
/* identical to box height */
text-align: center;

color: #FFFCFC;


}
#KnightHacksText
{
/* KnightHacks */

position: absolute;
width: 400px;
height: 26px;
left: 374px;
top: 2091px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
text-align: center;

color: #FFFFFF;


}
#KnightHacksImage
{
/* Rectangle 62 */

position: absolute;
width: 325px;
height: 274px;
left: 403px;
top: 2203px;
border-radius: 30px;
background-color: white;
/* background: url(mdc4EgCw_400x400.jpg); */

}
#KnightHacksPosition
{
/* Lead Hackathon Organizer */

position: absolute;
width: 433px;
height: 26px;
left: 355px;
top: 2562px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
text-align: center;

color: #FFFFFF;


}
#ACMText
{
/* ACM-W */

position: absolute;
width: 400px;
height: 47px;
left: 1108px;
top: 2080px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
text-align: center;

color: #FFFFFF;


}
#ACMImage
{
/* Rectangle 63 */

position: absolute;
width: 303px;
height: 295px;
left: 1160px;
top: 2205px;
border-radius: 30px;
background-color: white;
/* background: url(EeiXeuaUYAAtsjS.png); */

}
#ACMPosition
{
    /* Mentor */

position: absolute;
width: 433px;
height: 26px;
left: 1108px;
top: 2596px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 59px;
text-align: center;

color: #FFFFFF;


}