.date
{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 30px;
text-align: center;
color: #FFFDFD;
}
.description
{
    max-height: 100px;
    overflow-y: auto;
}
#experience-title
{
    width: calc(200px + 10vw);
    height: calc(30px + 1vh);
}
#dot
{
    width: 40px;
    height: 40px;
}
@media screen and (min-width: 901px)
{
    #exp-img
    {
        width: calc(100px + 20vw);
        height: auto;
    }
}
@media screen and (max-width: 901px)
{
    #exp-img
    {
        width: calc(100px + 20vw);
        height: auto;
    }
}

.line
{

    margin: 20px;
  width: 400px;
  height: 8px;
}
