.date
{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 30px;
text-align: center;
color: #FFFDFD;
}
.description
{
    max-height: 100px;
    overflow-y: auto;
}
#experience-title
{
    width: calc(200px + 10vw);
    height: calc(30px + 1vh);
    background-color: ;
}
#timeline
{
    height: calc(400px + 2vw);
    overflow-y: auto;
    overflow-x: hidden;
}
#dot
{
    width: 40px;
    height: 40px;
}
.element::-webkit-scrollbar { width: 0 !important }
@media screen and (min-width: 901px)
{
    #exp-img
    {
        width: 300px;
        max-width: 300px;
        height: auto;
    }
}
@media screen and (max-width: 901px)
{
    #exp-img
    {
       
        width: 250px;
        height: auto;
    }
}

.line
{

    margin: 20px;
  width: 400px;
  height: 8px;
}
